/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
img {
  max-width: 100%;
  display: block;
}
:root {
  --header-bg: #ff6900;
  --main-color: #1a1a1a;
  --discount-color: #ff0000;
  --sustain-color: #007e03;
}
/* .debug {
  border: 1px solid black;
} */
ul {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-flow: row nowrap;
}
.wrap {
  flex-wrap: wrap;
}
.sp-between {
  justify-content: space-between;
}
.center {
  align-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* Header */
header {
  background-color: var(--header-bg);
  position: fixed;
  color: white;
  width: 100%;
  z-index: 999;
}
nav {
  padding: 15px;
}
#logo {
  max-width: 200px;
  height: 50px;
}
nav li {
  padding: 5px;
  font-weight: 600;
}

/* Main */
.main {
  padding-top: 125px;
  padding-bottom: 70px;
}
.hover-img {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.product:hover .hover-img {
  display: block;
  cursor: pointer;
}
.heart {
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 5px;
  font-size: 3em;
  padding: 0 15px;

  box-shadow: 10px 10px 10px #1a1a1a38;
  transition: 0.5s ease;
  background-color: rgba(255, 0, 0, 0.075);
}
.heart:hover {
  transform: scale(0.8);
  color: red;
  cursor: pointer;
}
.product {
  position: relative;
}
.card {
  width: calc(100% / 3);
  min-width: 300px;
  padding: 25px;
}
.info {
  position: absolute;
  bottom: 0;
  left: 0;
  gap: 3px;
  font-size: small;
  color: white;
  font-weight: 700;
  margin-bottom: 40px;
}
.discount {
  background-color: var(--discount-color);
  padding: 0 10px;
}
.sustain {
  background-color: var(--sustain-color);
  padding: 0 5px;
}
.card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.undertext {
  line-height: 1.1em;
  font-size: smaller;
}
.price {
  color: var(--header-bg);
}
.old-price {
  color: black;
  text-decoration: line-through;
}
/* Footer */
footer {
  background-color: var(--main-color);
  color: white;
  font-size: smaller;
}
footer li,
h3 {
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.hyper {
  font-size: x-large;
}
